@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 40px;
  margin-left: 40px;
  align-items: center;
} 
.nav-btn{
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: #000040;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  background: #000040;
  border-radius: 14px;
  width: 150px;
  height: 56.25px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.main{
  background: #060B47;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 150px;
  padding-bottom: 150px;
}
.main>p{
  font-family: "DM Sans", sans-serif;
  font-size: 72px;
  text-align: center;
  color: #eef3f5;
}
.main>p>span{
  color: #ee75b6;
}
input{
  border: #d9dde0 2px solid;
  border-radius: 5px 0px 0px 5px;
  height: 53px;
  width: 380px;
  padding: 20px;

}
input::placeholder{
  font-family: "DM Sans", sans-serif;
  color: #161b1d;
}
input:focus{
  outline: none;
}
.form{
  display: flex;
  gap: 5px;
  z-index: 9999;
}
.btn2{
  height: 53px;
  background: #ee75b6;
  color: #eef3f5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;

}
.partners{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.head{
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-size: 14px;
  color: #b3b6ba;
  letter-spacing: 2px;
  text-align: center;
}
.subtitle{
  font-size: 36px;
  font-family: "DM Sans", sans-serif;
  color: #000040;
  font-weight: 500;
}
.subtitle>span{
  font-weight: 700;
}
.images{
 margin-top: 30px;
 display: flex;
 gap: 80px;
 justify-content: space-between;
 align-items: center;
}
.purpose{
  margin-right: 100px;
  margin-left: 100px;
}
.purpose>p{
  text-align: center;
  font-family: "DM Sans", sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 30px;


}
.support{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
}
.support-text{
  padding-right: 280px;
}
.support-text>p{
  font-family: "DM Mono", monospace;
  font-weight: 500;
  color: #676e76;
}
.support-text>h1{
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #000040;

}
.support-text>span{
  color: #666666;

}
.access{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
}
.access-text{
  padding-left: 280px;
}
.access-text>p{
  font-family: "DM Mono", monospace;
  font-weight: 500;
  color: #676e76;
}
.access-text>h1{
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #000040;

}
.access-text>span{
  color: #666666;

}
footer{
  background: #000040;
  padding: 40px;
  color: #ffffff;
}
.join>p{
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 40px;
  z-index: 9999;
}
.join{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-image: url('../../public/cta-img-bg\ 1\ \(1\).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:scroll;
  margin: 50px auto;
  border-radius: 30px;
  height: 250px;
  width: 70%;
  margin-bottom: 150px;
}
.join::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 64, 0.5); 
  pointer-events: none;
  border-radius: 30px;
}
.foot{
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: start;
  margin-bottom: 200px;
}
.foot>div>p{
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 40px;
}
.foot>div>ul>li{
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;

}
.links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 70px;
}
.bvida{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}